.card-header, .card-body {
  text-align: center;
}
#add-inpt, #add-student-input, #button-row{
  display: flex;
  justify-content: center;
}
#filter-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.get-started-container {
  display: none;
}
.unhide {
  display: flex;
  flex-direction: column;
}
#Cards-container {
  display: flex;
}
#cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2px 2px;
  width: 40%;
  border: 1px solid blue;
}
#expel-div {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gold;
}
.card {
  margin: 3px 3px;
  flex-basis: 15%;
}
