.card-header, .card-body {
  text-align: center;
}
#add-inpt, #add-student-input{
  display: flex;
  justify-content: center;
}
#filter-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.get-started-container {
  display: none;
}
.unhide {
  display: flex;
  flex-direction: column;
  border: 1px solid brown;
  width: 100%;
}
#Cards-container {
  display: flex;
}
#cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px 5px;
  width: 50%;
  border: 1px solid blue;
}
#expel-div {
  width: 50%;
  margin: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gold;
  justify-content: space-evenly;
}
.card {
  margin: 2px 2px;
  flex-basis: 25%;
}
#button-row {
  display: flex;
  width: 100%;
}
#allbtn, #grifbtn, #huffbtn, #ravbtn, #slybtn {
  flex-basis: 20%;
}
