#header-div {
  margin-bottom: 20px;
}
.card-header, .card-body {
  text-align: center;
}
#add-inpt, #add-student-input{
  display: flex;
  justify-content: center;
}
#filter-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2px;
}
.get-started-container {
  display: none;
}
.unhide {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2px;
  text-align: center;
}
#Cards-container {
  display: flex;
}
.unhide2 {
  display: flex;
}
#cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px 5px;
  width: 50%;
  background-color: whitesmoke;
}
#expel-div {
  width: 50%;
  margin: 5px 5px;
  display: flex;
  flex-wrap: wrap;
  border-width: 1px;
  border-radius: .375rem;
  border-color: rgba(0, 0, 0, 0.175);
  font-style: italic;
  color: dimgrey; 
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
}
.card {
  margin: 2px 2px;
  flex-basis: 25%;
}
#button-row {
  display: flex;
  width: 100%;
}
#allbtn, #grifbtn, #huffbtn, #ravbtn, #slybtn {
  flex-basis: 20%;
}
.product {
  max-height: 325px;
  max-width: 275px;
}
.unhide h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}
label {
  padding-right: 5px;
  margin-top: 5px;
}
input {
  margin-right: 5px;
}
#sortBtn {
  height: 38px;
}
#add-container {
  background-color: white;
}
#startBtn {
  margin-bottom: 5px;
}
